body {
  font-family: sans-serif;
  margin: 0;
  background-color: #fff;
  color: #333;
}

header {
  background-color: #b30000;
  color: white;
  padding: 1em;
  text-align: center;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
}
